
@{
    ViewData["Title"] = "Summary";
}

@section Scripts
{
    <script src="~/js/line_item_summary.js"></script>
}
<h2>Line Item Summary</h2>
<div style="float:right">
    <a id="addBtn" class="btn btn-success" href="http://localhost:50324/Project/Add">New Line Item</a>
</div>
<div class="row">
    <div class="form-group">
        <label>Item Filter Types:</label>
        <select class="form-control" id="FilterTypesDDL"></select>
        <label>Filter Options:</label>
        <select class="form-control" id="FilterOptsDDL"></select>
    </div>
</div>

<div class="row">
    <div class="table-responsive table-bordered table-striped">
        <table id="ItemsTable" class="table">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th>Project Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Assigned To</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>